#### __Import libarary and keep the warning off__

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

#### __Load the data in jupytet notebook__

In [2]:
df = pd.read_csv('googleplaystore.csv')
print(df)

                                                     App             Category  \
0         Photo Editor & Candy Camera & Grid & ScrapBook       ART_AND_DESIGN
1                                    Coloring book moana       ART_AND_DESIGN
2      U Launcher Lite – FREE Live Cool Themes, Hide ...       ART_AND_DESIGN
3                                  Sketch - Draw & Paint       ART_AND_DESIGN
4                  Pixel Draw - Number Art Coloring Book       ART_AND_DESIGN
...                                                  ...                  ...
10836                                   Sya9a Maroc - FR               FAMILY
10837                   Fr. Mike Schmitz Audio Teachings               FAMILY
10838                             Parkinson Exercices FR              MEDICAL
10839                      The SCP Foundation DB fr nn5n  BOOKS_AND_REFERENCE
10840      iHoroscope - 2018 Daily Horoscope & Astrology            LIFESTYLE

       Rating Reviews                Size     Installs  Type Price  \
0         4.1     159                 19M      10,000+  Free     0
1         3.9     967                 14M     500,000+  Free     0
2         4.7   87510                8.7M   5,000,000+  Free     0
3         4.5  215644                 25M  50,000,000+  Free     0
4         4.3     967                2.8M     100,000+  Free     0
...       ...     ...                 ...          ...   ...   ...
10836     4.5      38                 53M       5,000+  Free     0
10837     5.0       4                3.6M         100+  Free     0
10838     NaN       3                9.5M       1,000+  Free     0
10839     4.5     114  Varies with device       1,000+  Free     0
10840     4.5  398307                 19M  10,000,000+  Free     0

      Content Rating                     Genres      Last Updated  \
0           Everyone               Art & Design   January 7, 2018
1           Everyone  Art & Design;Pretend Play  January 15, 2018
2           Everyone               Art & Design    August 1, 2018
3               Teen               Art & Design      June 8, 2018
4           Everyone    Art & Design;Creativity     June 20, 2018
...              ...                        ...               ...
10836       Everyone                  Education     July 25, 2017
10837       Everyone                  Education      July 6, 2018
10838       Everyone                    Medical  January 20, 2017
10839     Mature 17+          Books & Reference  January 19, 2015
10840       Everyone                  Lifestyle     July 25, 2018

              Current Ver         Android Ver
0                   1.0.0        4.0.3 and up
1                   2.0.0        4.0.3 and up
2                   1.2.4        4.0.3 and up
3      Varies with device          4.2 and up
4                     1.1          4.4 and up
...                   ...                 ...
10836                1.48          4.1 and up
10837                   1          4.1 and up
10838                   1          2.2 and up
10839  Varies with device  Varies with device
10840  Varies with device  Varies with device

[10841 rows x 13 columns]

#### __See the column name, dtypes, counting of null values for every column__

In [3]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  str
 1   Category        10841 non-null  str
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  str
 4   Size            10841 non-null  str
 5   Installs        10841 non-null  str
 6   Type            10840 non-null  str
 7   Price           10841 non-null  str
 8   Content Rating  10840 non-null  str
 9   Genres          10841 non-null  str
 10  Last Updated    10841 non-null  str
 11  Current Ver     10833 non-null  str
 12  Android Ver     10838 non-null  str
dtypes: float64(1), str(12)
memory usage: 1.1 MB

#### __Show the first 5 entries__

In [4]:
df.head()
# print(df.head())

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

#### __Show the last 5 entries__

In [5]:
df.tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

#### __Show the random 2 entries__

In [6]:
df.sample(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
8749,Monster Fishing 2018,SPORTS,4.4,32881,76M,"1,000,000+",Free,0,Everyone,Sports,"August 7, 2018",0.0.80,4.1 and up
4786,Flexiroam X,TRAVEL_AND_LOCAL,4.0,875,21M,"100,000+",Free,0,Everyone,Travel & Local,"August 3, 2018",3.5.3,4.1 and up

#### __Show unique values for the reviews__

In [7]:
df['Reviews'].unique()

<StringArray>
[   '159',    '967',  '87510', '215644',    '167',    '178',  '36815',
  '13791',    '121',  '13880',
 ...
   '2036',  '56496', '376223',    '785',   '5775',    '885',  '88486',
    '603',   '1195', '398307']
Length: 6002, dtype: str

#### __Display the value which is non-numeric in the review column__

In [8]:
df[~df['Reviews'].str.isnumeric()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

#### __Drop the non-numerical value from the review column__

In [9]:
df.drop(10472, inplace=True)

#### __Again Display the value which is non-numeric in the review column__

In [10]:
df[~df['Reviews'].str.isnumeric()]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

#### __Change the data type of review to int__

In [11]:
df["Reviews"] = df["Reviews"].astype('int')
df.dtypes

App                   str
Category              str
Rating            float64
Reviews             int64
Size                  str
Installs              str
Type                  str
Price                 str
Content Rating        str
Genres                str
Last Updated          str
Current Ver           str
Android Ver           str
dtype: object

#### __count duplicate rows__

In [12]:
int(df.duplicated().sum())

483

#### __drop duplicate rows__

In [13]:
df = df.drop_duplicates()

## or inplace = True

#### __count duplicate rows again__

In [14]:
int(df.duplicated().sum())

0

#### __reset the index because duplicate rows are dropped__

In [15]:
df.reset_index()
df.info()

<class 'pandas.DataFrame'>
Index: 10357 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10357 non-null  str
 1   Category        10357 non-null  str
 2   Rating          8892 non-null   float64
 3   Reviews         10357 non-null  int64
 4   Size            10357 non-null  str
 5   Installs        10357 non-null  str
 6   Type            10356 non-null  str
 7   Price           10357 non-null  str
 8   Content Rating  10357 non-null  str
 9   Genres          10357 non-null  str
 10  Last Updated    10357 non-null  str
 11  Current Ver     10349 non-null  str
 12  Android Ver     10355 non-null  str
dtypes: float64(1), int64(1), str(11)
memory usage: 1.1 MB

#### __print the unique value for size columns__

In [16]:
df['Size'].unique()

<StringArray>
[  '19M',   '14M',  '8.7M',   '25M',  '2.8M',  '5.6M',   '29M',   '33M',
  '3.1M',   '28M',
 ...
  '467k',  '157k',   '44k',  '676k',   '67k',  '552k',  '885k', '1020k',
  '582k',  '619k']
Length: 461, dtype: str

#### __Write code to remove M and k fomr the Size, convert the size to the Kilo bytes only__

In [17]:
def removeMorK(x):
    if pd.isna(x):
        return np.nan

    x = str(x).strip().upper()

    if x.endswith('M'):
        return float(x[:-1]) * 1024  
    elif x.endswith('K'):
        return float(x[:-1])         
    else:
        return np.nan       

df['Size'] = df['Size'].apply(removeMorK)

#### __Again print the unique value for size columns__

In [18]:
df['Size'].unique()

array([1.94560e+04, 1.43360e+04, 8.90880e+03, 2.56000e+04, 2.86720e+03,
       5.73440e+03, 2.96960e+04, 3.37920e+04, 3.17440e+03, 2.86720e+04,
       1.22880e+04, 2.04800e+04, 2.15040e+04, 3.78880e+04, 2.76480e+03,
       5.63200e+03, 1.74080e+04, 3.99360e+04, 3.17440e+04, 4.30080e+03,
       7.16800e+03, 2.35520e+04, 6.14400e+03, 6.24640e+03, 4.71040e+03,
       9.42080e+03, 5.32480e+03, 1.12640e+04, 2.45760e+04,         nan,
       9.62560e+03, 1.53600e+04, 1.02400e+04, 1.22880e+03, 2.66240e+04,
       8.19200e+03, 8.08960e+03, 5.73440e+04, 5.83680e+04, 3.58400e+04,
       5.52960e+04, 2.01000e+02, 3.68640e+03, 5.83680e+03, 8.80640e+03,
       2.45760e+03, 2.76480e+04, 2.56000e+03, 1.63840e+04, 3.48160e+03,
       9.11360e+03, 3.99360e+03, 2.96960e+03, 3.89120e+04, 3.27680e+04,
       5.52960e+03, 1.84320e+04, 1.12640e+03, 2.25280e+03, 4.60800e+03,
       1.00352e+04, 5.32480e+04, 9.21600e+03, 6.86080e+03, 3.07200e+04,
       2.66240e+03, 7.27040e+03, 3.78880e+03, 2.25280e+04, 7.57760e+03,
       6.55360e+03, 3.27680e+03, 8.39680e+03, 1.01376e+04, 5.01760e+03,
       9.72800e+03, 5.12000e+03, 6.04160e+03, 1.33120e+04, 7.47520e+04,
       6.96320e+03, 3.58400e+03, 4.09600e+03, 2.35520e+03, 7.37280e+03,
       2.15040e+03, 4.30080e+04, 7.47520e+03, 9.31840e+03, 5.63200e+04,
       2.30000e+01, 6.65600e+03, 1.53600e+03, 7.68000e+03, 5.22240e+04,
       4.19840e+04, 4.91520e+04, 8.70400e+03, 4.71040e+04, 8.49920e+03,
       4.40320e+03, 4.81280e+03, 3.37920e+03, 4.09600e+04, 7.98720e+03,
       9.01120e+03, 6.75840e+03, 5.22240e+03, 6.24640e+04, 6.75840e+04,
       7.90000e+01, 8.60160e+03, 1.18000e+02, 4.50560e+04, 6.95000e+02,
       1.63840e+03, 6.34880e+03, 1.80000e+01, 5.42720e+04, 1.43360e+03,
       3.07200e+03, 5.93920e+03, 3.89120e+03, 9.83040e+03, 4.60800e+04,
       6.45120e+04, 5.01760e+04, 7.88480e+04, 4.50560e+03, 4.91520e+03,
       7.16800e+04, 7.06560e+03, 9.52320e+03, 8.29440e+03, 3.68640e+04,
       8.60160e+04, 9.93280e+04, 2.04800e+03, 1.94560e+03, 1.84320e+03,
       5.42720e+03, 4.81280e+04, 5.56000e+02, 5.26000e+02, 7.78240e+04,
       7.78240e+03, 6.04160e+04, 9.93280e+03, 7.98720e+04, 7.37280e+04,
       4.40320e+04, 7.88480e+03, 6.45120e+03, 3.34000e+02, 3.48160e+04,
       9.52320e+04, 6.65600e+04, 8.08960e+04, 1.02400e+05, 5.93920e+04,
       5.12000e+04, 6.96320e+04, 6.55360e+04, 6.86080e+04, 6.14400e+04,
       9.62560e+04, 2.32000e+02, 1.01376e+05, 6.24000e+02, 9.72800e+04,
       8.50000e+00, 4.10000e+01, 2.92000e+02, 1.10000e+01, 8.19200e+04,
       1.74080e+03, 7.57760e+04, 6.34880e+04, 7.06560e+04, 7.68000e+04,
       1.00352e+05, 8.70400e+04, 8.39680e+04, 9.83040e+04, 8.90880e+04,
       7.27040e+04, 8.80640e+04, 9.31840e+04, 8.29440e+04, 9.42080e+04,
       8.49920e+04, 9.01120e+04, 7.04000e+02, 8.62000e+02, 8.99000e+02,
       3.78000e+02, 2.66000e+02, 3.75000e+02, 1.33120e+03, 9.75000e+02,
       9.80000e+02, 4.19840e+03, 9.11360e+04, 6.96000e+02, 5.44000e+02,
       5.25000e+02, 9.20000e+02, 7.79000e+02, 8.53000e+02, 7.20000e+02,
       7.13000e+02, 7.72000e+02, 3.18000e+02, 5.80000e+01, 2.41000e+02,
       1.96000e+02, 8.57000e+02, 5.10000e+01, 9.53000e+02, 8.65000e+02,
       2.51000e+02, 9.30000e+02, 5.40000e+02, 3.13000e+02, 7.46000e+02,
       2.03000e+02, 2.60000e+01, 3.14000e+02, 2.39000e+02, 3.71000e+02,
       2.20000e+02, 7.30000e+02, 7.56000e+02, 9.10000e+01, 2.93000e+02,
       1.70000e+01, 7.40000e+01, 1.40000e+01, 3.17000e+02, 7.80000e+01,
       9.24000e+02, 9.02000e+02, 8.18000e+02, 8.10000e+01, 9.39000e+02,
       1.69000e+02, 4.50000e+01, 4.75000e+02, 9.65000e+02, 9.21600e+04,
       5.45000e+02, 6.10000e+01, 2.83000e+02, 6.55000e+02, 7.14000e+02,
       9.30000e+01, 8.72000e+02, 1.21000e+02, 3.22000e+02, 1.02400e+03,
       9.76000e+02, 1.72000e+02, 2.38000e+02, 5.49000e+02, 2.06000e+02,
       9.54000e+02, 4.44000e+02, 7.17000e+02, 2.10000e+02, 6.09000e+02,
       3.08000e+02, 7.05000e+02, 3.06000e+02, 9.04000e+02, 4.73000e+02,
       1.75000e+02, 3.50000e+02, 3.83000e+02, 4.54000e+02, 4.21000e+02,
       7.00000e+01, 8.12000e+02, 4.42000e+02, 8.42000e+02, 4.17000e+02,
       4.12000e+02, 4.59000e+02, 4.78000e+02, 3.35000e+02, 7.82000e+02,
       7.21000e+02, 4.30000e+02, 4.29000e+02, 1.92000e+02, 2.00000e+02,
       4.60000e+02, 7.28000e+02, 4.96000e+02, 8.16000e+02, 4.14000e+02,
       5.06000e+02, 8.87000e+02, 6.13000e+02, 2.43000e+02, 5.69000e+02,
       7.78000e+02, 6.83000e+02, 5.92000e+02, 3.19000e+02, 1.86000e+02,
       8.40000e+02, 6.47000e+02, 1.91000e+02, 3.73000e+02, 4.37000e+02,
       5.98000e+02, 7.16000e+02, 5.85000e+02, 9.82000e+02, 2.22000e+02,
       2.19000e+02, 5.50000e+01, 9.48000e+02, 3.23000e+02, 6.91000e+02,
       5.11000e+02, 9.51000e+02, 9.63000e+02, 2.50000e+01, 5.54000e+02,
       3.51000e+02, 2.70000e+01, 8.20000e+01, 2.08000e+02, 9.13000e+02,
       5.14000e+02, 5.51000e+02, 2.90000e+01, 1.03000e+02, 8.98000e+02,
       7.43000e+02, 1.16000e+02, 1.53000e+02, 2.09000e+02, 3.53000e+02,
       4.99000e+02, 1.73000e+02, 5.97000e+02, 8.09000e+02, 1.22000e+02,
       4.11000e+02, 4.00000e+02, 8.01000e+02, 7.87000e+02, 2.37000e+02,
       5.00000e+01, 6.43000e+02, 9.86000e+02, 9.70000e+01, 5.16000e+02,
       8.37000e+02, 7.80000e+02, 9.61000e+02, 2.69000e+02, 2.00000e+01,
       4.98000e+02, 6.00000e+02, 7.49000e+02, 6.42000e+02, 8.81000e+02,
       7.20000e+01, 6.56000e+02, 6.01000e+02, 2.21000e+02, 2.28000e+02,
       1.08000e+02, 9.40000e+02, 1.76000e+02, 3.30000e+01, 6.63000e+02,
       3.40000e+01, 9.42000e+02, 2.59000e+02, 1.64000e+02, 4.58000e+02,
       2.45000e+02, 6.29000e+02, 2.80000e+01, 2.88000e+02, 7.75000e+02,
       7.85000e+02, 6.36000e+02, 9.16000e+02, 9.94000e+02, 3.09000e+02,
       4.85000e+02, 9.14000e+02, 9.03000e+02, 6.08000e+02, 5.00000e+02,
       5.40000e+01, 5.62000e+02, 8.47000e+02, 9.57000e+02, 6.88000e+02,
       8.11000e+02, 2.70000e+02, 4.80000e+01, 3.29000e+02, 5.23000e+02,
       9.21000e+02, 8.74000e+02, 9.81000e+02, 7.84000e+02, 2.80000e+02,
       2.40000e+01, 5.18000e+02, 7.54000e+02, 8.92000e+02, 1.54000e+02,
       8.60000e+02, 3.64000e+02, 3.87000e+02, 6.26000e+02, 1.61000e+02,
       8.79000e+02, 3.90000e+01, 9.70000e+02, 1.70000e+02, 1.41000e+02,
       1.60000e+02, 1.44000e+02, 1.43000e+02, 1.90000e+02, 3.76000e+02,
       1.93000e+02, 2.46000e+02, 7.30000e+01, 6.58000e+02, 9.92000e+02,
       2.53000e+02, 4.20000e+02, 4.04000e+02, 4.70000e+02, 2.26000e+02,
       2.40000e+02, 8.90000e+01, 2.34000e+02, 2.57000e+02, 8.61000e+02,
       4.67000e+02, 1.57000e+02, 4.40000e+01, 6.76000e+02, 6.70000e+01,
       5.52000e+02, 8.85000e+02, 1.02000e+03, 5.82000e+02, 6.19000e+02])

#### __print the unique values of the column install__

In [19]:
df['Installs'].unique()

<StringArray>
[       '10,000+',       '500,000+',     '5,000,000+',    '50,000,000+',
       '100,000+',        '50,000+',     '1,000,000+',    '10,000,000+',
         '5,000+',   '100,000,000+', '1,000,000,000+',         '1,000+',
   '500,000,000+',            '50+',           '100+',           '500+',
            '10+',             '1+',             '5+',             '0+',
              '0']
Length: 21, dtype: str

#### __write code to remove "+" from the values of install column__

In [20]:
df['Installs'] = df['Installs'].str.replace('+', '', regex = False).str.replace(",", "")
df["Installs"].unique()

<StringArray>
[     '10000',     '500000',    '5000000',   '50000000',     '100000',
      '50000',    '1000000',   '10000000',       '5000',  '100000000',
 '1000000000',       '1000',  '500000000',         '50',        '100',
        '500',         '10',          '1',          '5',          '0']
Length: 20, dtype: str

#### __change the data type to int32 for install column__

In [21]:
df['Installs'] = df['Installs'].astype(int)
df['Installs'].dtype

dtype('int64')

#### __print the unique values of the column price__

In [22]:
df['Price'].unique()

<StringArray>
[      '0',   '$4.99',   '$3.99',   '$6.99',   '$1.49',   '$2.99',   '$7.99',
   '$5.99',   '$3.49',   '$1.99',   '$9.99',   '$7.49',   '$0.99',   '$9.00',
   '$5.49',  '$10.00',  '$24.99',  '$11.99',  '$79.99',  '$16.99',  '$14.99',
   '$1.00',  '$29.99',  '$12.99',   '$2.49',  '$10.99',   '$1.50',  '$19.99',
  '$15.99',  '$33.99',  '$74.99',  '$39.99',   '$3.95',   '$4.49',   '$1.70',
   '$8.99',   '$2.00',   '$3.88',  '$25.99', '$399.99',  '$17.99', '$400.00',
   '$3.02',   '$1.76',   '$4.84',   '$4.77',   '$1.61',   '$2.50',   '$1.59',
   '$6.49',   '$1.29',   '$5.00',  '$13.99', '$299.99', '$379.99',  '$37.99',
  '$18.99', '$389.99',  '$19.90',   '$8.49',   '$1.75',  '$14.00',   '$4.85',
  '$46.99', '$109.99', '$154.99',   '$3.08',   '$2.59',   '$4.80',   '$1.96',
  '$19.40',   '$3.90',   '$4.59',  '$15.46',   '$3.04',   '$4.29',   '$2.60',
   '$3.28',   '$4.60',  '$28.99',   '$2.95',   '$2.90',   '$1.97', '$200.00',
  '$89.99',   '$2.56',  '$30.99',   '$3.61', '$394.99',   '$1.26',   '$1.20',
   '$1.04']
Length: 92, dtype: str

#### __write code to remove "$" from the values of price column__

In [23]:
df['Price'] = df['Price'].str.replace('$', '', regex = False).str.replace(",", "")
df["Price"].unique()

<StringArray>
[     '0',   '4.99',   '3.99',   '6.99',   '1.49',   '2.99',   '7.99',
   '5.99',   '3.49',   '1.99',   '9.99',   '7.49',   '0.99',   '9.00',
   '5.49',  '10.00',  '24.99',  '11.99',  '79.99',  '16.99',  '14.99',
   '1.00',  '29.99',  '12.99',   '2.49',  '10.99',   '1.50',  '19.99',
  '15.99',  '33.99',  '74.99',  '39.99',   '3.95',   '4.49',   '1.70',
   '8.99',   '2.00',   '3.88',  '25.99', '399.99',  '17.99', '400.00',
   '3.02',   '1.76',   '4.84',   '4.77',   '1.61',   '2.50',   '1.59',
   '6.49',   '1.29',   '5.00',  '13.99', '299.99', '379.99',  '37.99',
  '18.99', '389.99',  '19.90',   '8.49',   '1.75',  '14.00',   '4.85',
  '46.99', '109.99', '154.99',   '3.08',   '2.59',   '4.80',   '1.96',
  '19.40',   '3.90',   '4.59',  '15.46',   '3.04',   '4.29',   '2.60',
   '3.28',   '4.60',  '28.99',   '2.95',   '2.90',   '1.97', '200.00',
  '89.99',   '2.56',  '30.99',   '3.61', '394.99',   '1.26',   '1.20',
   '1.04']
Length: 92, dtype: str

#### __change the data type to float for install column price__

In [24]:
df['Installs'] = df['Installs'].astype(float)
df['Installs'].dtype

dtype('float64')

#### __change the data type of the last updated column to datetime__

In [25]:
df['Last Updated'] = pd.to_datetime(df['Last Updated'])
df['Last Updated'].dtype

dtype('<M8[us]')

#### __split the same into three columns date, month and year__

In [26]:
df['Year'] = df['Last Updated'].dt.year
df['Month'] = df['Last Updated'].dt.month
df['Day'] = df['Last Updated'].dt.day

### __check the data type again__

In [27]:
df['Last Updated'].dtype

dtype('<M8[us]')

#### __drop the last updated column__

In [28]:
df.drop('Last Updated', axis=1, inplace=True)

#### __print the unique values of the column 'Android ver'__

In [29]:
df['Android Ver'].unique()

<StringArray>
[      '4.0.3 and up',         '4.2 and up',         '4.4 and up',
         '2.3 and up',         '3.0 and up',         '4.1 and up',
         '4.0 and up',       '2.3.3 and up', 'Varies with device',
         '2.2 and up',         '5.0 and up',         '6.0 and up',
         '1.6 and up',         '1.5 and up',         '2.1 and up',
         '7.0 and up',         '5.1 and up',         '4.3 and up',
      '4.0.3 - 7.1.1',         '2.0 and up',         '3.2 and up',
        '4.4W and up',         '7.1 and up',        '7.0 - 7.1.1',
         '8.0 and up',          '5.0 - 8.0',         '3.1 and up',
       '2.0.1 and up',        '4.1 - 7.1.1',                  nan,
          '5.0 - 6.0',         '1.0 and up',        '2.2 - 7.1.1',
        '5.0 - 7.1.1']
Length: 34, dtype: str

#### __write code to replace "and up" and "veries with device" with empty string__

In [30]:
df['Android Ver'] = df['Android Ver'].str.replace('and up', '').replace('Varies with device', '')
df['Android Ver'].unique()

<StringArray>
[       '4.0.3 ',          '4.2 ',          '4.4 ',          '2.3 ',
          '3.0 ',          '4.1 ',          '4.0 ',        '2.3.3 ',
              '',          '2.2 ',          '5.0 ',          '6.0 ',
          '1.6 ',          '1.5 ',          '2.1 ',          '7.0 ',
          '5.1 ',          '4.3 ', '4.0.3 - 7.1.1',          '2.0 ',
          '3.2 ',         '4.4W ',          '7.1 ',   '7.0 - 7.1.1',
          '8.0 ',     '5.0 - 8.0',          '3.1 ',        '2.0.1 ',
   '4.1 - 7.1.1',             nan,     '5.0 - 6.0',          '1.0 ',
   '2.2 - 7.1.1',   '5.0 - 7.1.1']
Length: 34, dtype: str

#### __print the number of duplicate values for the column 'App'__

In [31]:
df['App'].duplicated().sum()

np.int64(698)

#### __drop the duplicate values__

In [32]:
df.drop_duplicates(subset='App', keep='first', inplace=True)

#### __Now again print the numbet of duplicate values for the column 'App'__

In [33]:
df['App'].duplicated().sum()

np.int64(0)

#### __Show statistical information from numerical data__

In [34]:
df.describe()

,Rating,Reviews,Size,Installs,Year,Month,Day
count,8196.000000,9.659000e+03,8432.000000,9.659000e+03,9659.000000,9659.000000,9659.000000
mean,4.173243,2.165926e+05,20884.374134,7.777507e+06,2017.345688,6.364013,15.632985
std,0.536625,1.831320e+06,22351.767303,5.375828e+07,1.137600,2.659610,9.431017
min,1.000000,0.000000e+00,8.500000,0.000000e+00,2010.000000,1.000000,1.000000
25%,4.000000,2.500000e+01,4710.400000,1.000000e+03,2017.000000,5.000000,7.000000
50%,4.300000,9.670000e+02,12288.000000,1.000000e+05,2018.000000,7.000000,16.000000
75%,4.500000,2.940100e+04,28672.000000,1.000000e+06,2018.000000,8.000000,24.000000
max,5.000000,7.815831e+07,102400.000000,1.000000e+09,2018.000000,12.000000,31.000000

#### __Show statistical information from all data__

In [35]:
df.describe(include='all')

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Current Ver,Android Ver,Year,Month,Day
count,9659,9659,8196.000000,9.659000e+03,8432.000000,9.659000e+03,9658,9659,9659,9659,9651,9657,9659.000000,9659.000000,9659.000000
unique,9659,33,NaN,NaN,NaN,NaN,2,92,6,118,2769,33,NaN,NaN,NaN
top,Photo Editor & Candy Camera & Grid & ScrapBook,FAMILY,NaN,NaN,NaN,NaN,Free,0,Everyone,Tools,Varies with device,4.1,NaN,NaN,NaN
freq,1,1832,NaN,NaN,NaN,NaN,8902,8903,7903,826,1055,2202,NaN,NaN,NaN
mean,NaN,NaN,4.173243,2.165926e+05,20884.374134,7.777507e+06,NaN,NaN,NaN,NaN,NaN,NaN,2017.345688,6.364013,15.632985
std,NaN,NaN,0.536625,1.831320e+06,22351.767303,5.375828e+07,NaN,NaN,NaN,NaN,NaN,NaN,1.137600,2.659610,9.431017
min,NaN,NaN,1.000000,0.000000e+00,8.500000,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,2010.000000,1.000000,1.000000
25%,NaN,NaN,4.000000,2.500000e+01,4710.400000,1.000000e+03,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,5.000000,7.000000
50%,NaN,NaN,4.300000,9.670000e+02,12288.000000,1.000000e+05,NaN,NaN,NaN,NaN,NaN,NaN,2018.000000,7.000000,16.000000
75%,NaN,NaN,4.500000,2.940100e+04,28672.000000,1.000000e+06,NaN,NaN,NaN,NaN,NaN,NaN,2018.000000,8.000000,24.000000
max,NaN,NaN,5.000000,7.815831e+07,102400.000000,1.000000e+09,NaN,NaN,NaN,NaN,NaN,NaN,2018.000000,12.000000,31.000000

#### __seggregate categorical features__

In [36]:
cat_cols = df.select_dtypes(exclude='number').columns

#### __seggregate numerical features__

In [37]:
num_cols = df.select_dtypes(include='number').columns

#### __find the total installations category wise__